* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  --blue: hsla(235, 19%, 15%);
  --gray: hsla(240, 9%, 89%);

  background-color: var(--blue);
  display: grid;
  place-items: center;
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  background: url(/img/background.png);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  color: var(--gray);
}

a {
  color: rgb(72, 74, 77);
  text-decoration: none;
}
