* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  --blue: hsla(235, 19%, 15%);
  --gray: hsla(240, 9%, 89%);

  background-color: var(--blue);
  display: grid;
  place-items: center;
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  background: url(/img/background.png);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
}

.avatar > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  color: var(--gray);
}

a {
  color: rgb(72, 74, 77);
  text-decoration: none;
}
