html,
body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  background-color: #10122e;
}

main {
  background: url(/img/background.png);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: rgb(72, 74, 77);
  text-decoration: none;
}
